@charset "UTF-8";
@-webkit-keyframes défilement {
  from {
    transform-origin: left;
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes défilement {
  from {
    transform-origin: left;
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes loading {
  from {
    transform: scale(0.6);
    opacity: 0.3;
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes loading {
  from {
    transform: scale(0.6);
    opacity: 0.3;
  }
  to {
    transform: scale(1.2);
  }
}
@-webkit-keyframes loading-remove {
  0% {
    opacity: 1;
    z-index: 2;
  }
  80% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes loading-remove {
  0% {
    opacity: 1;
    z-index: 2;
  }
  80% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@-webkit-keyframes title {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes title {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes plat {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes plat {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes check {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes check {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
@font-face {
  font-family: shrikhand;
  src: url(Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(Roboto/Roboto-Regular.ttf), url(Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboto-light;
  src: url(Roboto/Roboto-Light.ttf);
}
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 45%;
  padding: 20px 0px 10px 0px;
}

.btn {
  position: relative;
  font-size: 17px;
  color: white;
  border-radius: 30px;
  border: 0px solid white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 20px 25px;
  box-shadow: 0px 4px 8px 2px #cccccc;
  cursor: pointer;
  transition: box-shadow 300ms ease-in-out;
  margin-bottom: 20px;
}
.btn:hover {
  box-shadow: 0px 7px 8px 3px #cccccc;
}
.btn:hover::after {
  opacity: 0.15;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background-color: white;
  z-index: 1;
  border-radius: 30px;
  transition: opacity 200ms 100ms ease-in-out;
}

.fonctionnement__etape {
  display: flex;
  box-shadow: 0px 4px 8px 1px #e6e6e6;
  padding: 28px 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  background-color: whitesmoke;
  transition: box-shadow 300ms ease-in-out;
}
.fonctionnement__etape::after {
  content: "";
  background-color: #9356DC;
  opacity: 0;
  z-index: 1;
  transition: opacity 200ms 100ms ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 20px;
}
.fonctionnement__etape__number {
  position: absolute;
  color: white;
  left: -11px;
  padding: 3px 8px;
  background-color: #9356DC;
  border-radius: 20px;
  font-size: 15px;
}
.fonctionnement__etape i {
  color: grey;
  font-size: 19px;
  position: absolute;
  left: 30px;
  top: 30px;
  transition: all 300ms ease-in-out;
}
.fonctionnement__etape__description {
  margin: auto;
  font-size: 17px;
  font-weight: bold;
}
.fonctionnement__etape:hover {
  cursor: pointer;
  box-shadow: 0px 8px 8px 1px #e6e6e6;
}
.fonctionnement__etape:hover::after {
  opacity: 0.1;
}
.fonctionnement__etape:hover i {
  color: #9356DC;
}
@media (min-width: 768px) {
  .fonctionnement__etape {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
  }
  .fonctionnement__etape__number {
    position: absolute;
    top: -18px;
    padding: 5px 11px;
    border-radius: 30px;
    left: auto;
    font-size: 18px;
  }
  .fonctionnement__etape i {
    position: absolute;
    left: auto;
    top: 25px;
    font-size: 25px;
  }
  .fonctionnement__etape__description {
    margin-top: 35px;
  }
}
@media (min-width: 1024px) {
  .fonctionnement__etape {
    width: 30%;
  }
}

.restaurant__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
  height: 280px;
  box-shadow: 0px 4px 8px 2px #cccccc;
  margin-bottom: 20px;
  transition: box-shadow 300ms ease-in-out;
}
.restaurant__card:hover {
  box-shadow: 0px 7px 8px 3px #cccccc;
}
.restaurant__card:nth-child(3) .restaurant__card__image {
  align-items: center;
}
.restaurant__card:hover {
  color: #9356DC;
}
.restaurant__card__link {
  text-decoration: none;
  color: black;
  height: 280px;
  transition: color 300ms ease-in-out;
}
.restaurant__card__link:hover {
  color: #9356DC;
}
.restaurant__card__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 200px;
  overflow: hidden;
}
.restaurant__card__image img {
  width: 100%;
}
.restaurant__card__image p {
  position: absolute;
  color: #278870;
  background-color: #99E2D0;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  border-radius: 3px;
}
.restaurant__card__body {
  height: auto;
  position: relative;
}
.restaurant__card__body .heart {
  position: absolute;
  right: 30px;
  top: 13px;
  font-size: 25px;
  opacity: 1;
  z-index: 1;
  height: 25px;
}
.restaurant__card__body .heart:hover {
  display: none;
  z-index: 0;
}
.restaurant__card__body .heart--full {
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  position: absolute;
  right: 28px;
  top: 13px;
  opacity: 0;
  transition: opacity 200ms;
  height: 28px;
  width: 27px;
}
.restaurant__card__body .heart--full:hover {
  opacity: 1;
  z-index: 1;
}
.restaurant__card__body__title {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}
.restaurant__card__body p {
  margin-left: 20px;
  margin-top: 3px;
  font-size: 18px;
  font-family: roboto-light;
}
@media (min-width: 768px) {
  .restaurant__card__image {
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .restaurant__card {
    width: 45%;
    margin-bottom: 40px;
  }
}

.carte__plat {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  box-shadow: 0px 4px 8px 2px #cccccc;
  border-radius: 10px;
  color: black;
  background-color: white;
  margin-bottom: 15px;
  transition: all 300ms ease-in-out;
  -webkit-animation: plat 400ms ease-in-out both;
          animation: plat 400ms ease-in-out both;
}
.carte__plat:hover {
  box-shadow: 0px 7px 8px 3px #cccccc;
}
.carte__plat--1 {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
.carte__plat--2 {
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
}
.carte__plat--3 {
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
}
.carte__plat--4 {
  -webkit-animation-delay: 1050ms;
          animation-delay: 1050ms;
}
.carte__plat__div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  white-space: nowrap;
  transition: width 300ms ease-in-out;
  padding: 10px 0px 10px 10px;
}
.carte__plat__title {
  font-size: 17px;
  margin-bottom: 2px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.carte__plat__description {
  width: 100%;
  font-family: roboto-light;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 90%;
}
.carte__plat__price {
  text-align: right;
  width: 10%;
}
.carte__plat__check {
  padding: 18px 10px;
  color: white;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  transform: translateX(100%);
  width: 0px;
  transition: all 300ms ease-in-out;
}
.carte__plat:hover {
  cursor: pointer;
  color: #9356DC;
}
.carte__plat:hover .carte__plat__check {
  -webkit-animation: check 300ms both;
          animation: check 300ms both;
  width: 15%;
  margin-left: 10px;
}
.carte__plat:hover .carte__plat__check i {
  -webkit-animation: spin 400ms both;
          animation: spin 400ms both;
}
.carte__plat:hover .carte__plat__div {
  width: 85%;
}

.heart--full {
  height: 27px;
  width: 27px;
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

header {
  box-shadow: 0px 2px 4px #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.body__menu {
  -webkit-animation: défilement 300ms ease-in-out;
          animation: défilement 300ms ease-in-out;
}

.loading {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 100%;
  background-color: #99E2D0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: loading-remove 2s forwards;
          animation: loading-remove 2s forwards;
}
.loading__title {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 50px;
  font-family: shrikhand;
  background: linear-gradient(to top right, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: loading 1s forwards alternate-reverse infinite ease-in-out;
}
@media (min-width: 768px) {
  .loading__title {
    font-size: 100px;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav__locate {
  display: flex;
  width: 100%;
  background-color: #ededed;
  height: 50px;
  justify-content: center;
  font-size: 18px;
  align-items: center;
  z-index: -1;
}
.nav__locate i {
  padding-right: 15px;
}
.nav__resto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 40px 35px;
}
.nav__resto__title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 12px;
  padding: 0px 20px;
}
.nav__resto p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  font-family: roboto-light;
  color: gray;
}

.fonctionnement {
  padding: 50px 20px;
}
.fonctionnement__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 35px;
}
.fonctionnement__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 5px;
}
@media (min-width: 768px) {
  .fonctionnement {
    display: flex;
    flex-wrap: wrap;
  }
  .fonctionnement__title {
    width: 100%;
  }
  .fonctionnement__card {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .fonctionnement {
    flex-direction: row;
  }
}

.restaurant {
  padding: 50px 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.restaurant__title {
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .restaurant__title {
    width: 100%;
  }
}

footer {
  background-color: #333333;
  color: white;
  padding: 15px 30px;
}
footer h1 {
  margin-bottom: 15px;
}
footer h1 a {
  text-decoration: none;
  color: white;
  font-family: shrikhand;
  font-size: 18px;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
}
footer ul li {
  margin-bottom: 8px;
}
footer ul li:nth-child(1) i {
  padding-right: 15px;
}
footer ul li:nth-child(2) i {
  padding-right: 9px;
}
footer ul li:nth-child(3) {
  font-family: roboto-light;
}
footer ul li:nth-child(4) a {
  text-decoration: none;
  color: white;
  font-family: roboto-light;
}

figure {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
figure .img-back {
  width: 100%;
  z-index: 0;
  position: relative;
}

.img-back {
  width: 100%;
  z-index: 0;
  position: relative;
}
@media (min-width: 1024px) {
  .img-back {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    overflow: hidden;
  }
}

.carte {
  border-radius: 40px 40px 0px 0px;
  margin-top: -40px;
  background-color: white;
  padding: 30px 20px;
  position: relative;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .carte {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
}
.carte__title {
  font-family: shrikhand;
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}
@media (min-width: 768px) {
  .carte__title {
    font-size: 30px;
  }
}
.carte__title i {
  margin-left: auto;
}
.carte__title .heart--full {
  position: absolute;
  right: 17px;
  top: 28px;
  opacity: 0;
  transition: opacity 200ms;
}
@media (min-width: 768px) {
  .carte__title .heart--full {
    font-size: 30px;
    right: 20px;
    top: 28px;
    width: 30px;
    height: 30px;
  }
}
.carte__title .heart--full:hover {
  opacity: 1;
  z-index: 1;
}
.carte__menu {
  margin-bottom: 40px;
  width: 100%;
}
@media (min-width: 1024px) {
  .carte__menu {
    width: 30%;
  }
}
.carte__menu__title {
  font-size: 16px;
  font-family: roboto-light;
  overflow: visible;
  width: 40px;
  padding-bottom: 3px;
  border-bottom: 3px solid #99E2D0;
  margin-bottom: 15px;
  -webkit-animation: title 500ms ease-in-out both;
          animation: title 500ms ease-in-out both;
}
.carte__btn {
  width: 60%;
}
@media (min-width: 768px) {
  .carte__btn {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .carte__btn {
    margin: auto;
  }
}

header {
  position: relative;
}
header a {
  position: absolute;
  left: 15px;
  font-size: 20px;
  color: black;
}
@media (min-width: 768px) {
  header a {
    font-size: 35px;
    left: 30px;
  }
}/*# sourceMappingURL=main.css.map */