@font-face {
  font-family: shrikhand;
  src: url(Shrikhand/Shrikhand-Regular.ttf);
}
@font-face {
  font-family: roboto;
  src: url(Roboto/Roboto-Regular.ttf), url(Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboto-light;
  src: url(Roboto/Roboto-Light.ttf);
}
* {
  box-sizing: border-box;
  margin: 0px;
  font-family: roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 45%;
  padding: 20px 0px 10px 0px;
}

.btn {
  position: relative;
  font-size: 17px;
  color: white;
  border-radius: 30px;
  border: 0px solid white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 20px 25px;
  box-shadow: 0px 2px 8px 3px #cccccc;
  cursor: pointer;
  transition: box-shadow 300ms ease-in-out;
  margin-bottom: 20px;
}
.btn:hover {
  box-shadow: 0px 7px 8px 3px #cccccc;
}
.btn:hover::after {
  opacity: 0.15;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  background-color: white;
  z-index: 1;
  border-radius: 30px;
  transition: opacity 200ms 100ms ease-in-out;
}

.fonctionnement__etape {
  display: flex;
  box-shadow: 0px 4px 8px 1px #e6e6e6;
  padding: 28px 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
  background-color: whitesmoke;
  transition: box-shadow 300ms ease-in-out;
}
.fonctionnement__etape::after {
  content: "";
  background-color: #9356DC;
  opacity: 0;
  z-index: 1;
  transition: opacity 200ms 100ms ease-in-out;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 20px;
}
.fonctionnement__etape__number {
  position: absolute;
  color: white;
  left: -11px;
  padding: 3px 8px;
  background-color: #9356DC;
  border-radius: 20px;
  font-size: 15px;
}
.fonctionnement__etape i {
  color: grey;
  font-size: 19px;
  position: absolute;
  left: 30px;
  top: 30px;
  transition: all 300ms ease-in-out;
}
.fonctionnement__etape__description {
  margin: auto;
  font-size: 17px;
  font-weight: bold;
}
.fonctionnement__etape:hover {
  cursor: pointer;
  box-shadow: 0px 8px 8px 1px #e6e6e6;
}
.fonctionnement__etape:hover::after {
  opacity: 0.1;
}
.fonctionnement__etape:hover i {
  color: #9356DC;
}

.restaurant__card {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
  height: 280px;
  box-shadow: 0px 2px 8px 3px #cccccc;
  margin-bottom: 20px;
}
.restaurant__card:nth-child(3) .restaurant__card__image {
  align-items: center;
}
.restaurant__card__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 200px;
  overflow: hidden;
}
.restaurant__card__image img {
  width: 100%;
}
.restaurant__card__image p {
  position: absolute;
  color: #38c4a1;
  background-color: #99E2D0;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  border-radius: 2px;
}
.restaurant__card__body {
  height: 80px;
  position: relative;
}
.restaurant__card__body i {
  position: absolute;
  right: 30px;
  top: 13px;
  font-size: 25px;
}
.restaurant__card__body__title {
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}
.restaurant__card__body p {
  margin-left: 20px;
  margin-top: 3px;
  font-size: 18px;
  font-family: roboto-light;
}

header {
  box-shadow: 0px 2px 4px #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav__locate {
  display: flex;
  width: 100%;
  background-color: #ededed;
  height: 50px;
  justify-content: center;
  font-size: 18px;
  align-items: center;
  z-index: -1;
}
.nav__locate i {
  padding-right: 15px;
}
.nav__resto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 40px 35px;
}
.nav__resto__title {
  font-size: 25px;
  text-align: center;
  margin-bottom: 12px;
  padding: 0px 20px;
}
.nav__resto p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  font-family: roboto-light;
  color: gray;
}

.fonctionnement {
  padding: 50px 20px;
}
.fonctionnement__title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 35px;
}
.fonctionnement__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 5px;
}

.restaurant {
  padding: 50px 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
.restaurant__title {
  margin-bottom: 20px;
}

footer {
  background-color: #333333;
  color: white;
  padding: 15px 30px;
}
footer h1 {
  margin-bottom: 15px;
}
footer h1 a {
  text-decoration: none;
  color: white;
  font-family: shrikhand;
  font-size: 18px;
}
footer ul {
  list-style-type: none;
  padding-left: 0px;
}
footer ul li {
  margin-bottom: 8px;
}
footer ul li:nth-child(1) i {
  padding-right: 15px;
}
footer ul li:nth-child(2) i {
  padding-right: 9px;
}
footer ul li:nth-child(3) {
  font-family: roboto-light;
}
footer ul li:nth-child(4) a {
  text-decoration: none;
  color: white;
  font-family: roboto-light;
}/*# sourceMappingURL=main.css.map */