header{
    box-shadow: 0px 2px 4px darken($color: white, $amount: 20);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__locate{
        display: flex;
        width: 100%;
        background-color: darken($color: white, $amount: 7);
        height: 50px;
        justify-content: center;
        font-size: 18px;
        align-items: center;
        z-index: -1;
        & i{
            padding-right: 15px;
        }
    }
    &__resto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darken($color: white, $amount: 3);
        padding: 40px 35px;
        &__title{
            font-size: 25px;
            text-align: center;
            margin-bottom: 12px;
            padding: 0px 20px;
        }
    & p{
        text-align: center;
        font-size: 20px;
        margin-bottom: 25px;
        font-family: roboto-light;
        color: lighten($color: black, $amount: 50);
    }
}
}

.fonctionnement{
    padding: 50px 20px;
    &__title{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 35px;
    }
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-left: 5px;
    }
}