@mixin box_shadow {
    box-shadow: 0px 4px 8px 2px lighten($color: black, $amount: 80);
    &:hover{
        box-shadow: 0px 7px 8px 3px lighten($color: black, $amount: 80);
    }
}

@mixin btn ($size){
    position: relative;
    font-size: $size;
    color: white;
    border-radius: $border-rad-btn;
    border: 0px solid white;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    padding: 20px 25px;
    @include box_shadow;
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out;
    margin-bottom: 20px;
    &:hover{
        &::after{
            opacity: 0.15;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        background-color: white;
        z-index: 1;
        border-radius: $border-rad-btn;
        transition: opacity 200ms 100ms ease-in-out;
    }
}

@mixin loading {
    width: 100%;
    position:fixed;
    top: 0px;
    height: 100%;
    background-color: $color-tertiary;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin loading__title {
    width: 100%;
        overflow: hidden;
        text-align: center;
        font-size: 50px;
        font-family: shrikhand;
        background: linear-gradient(to top right, $color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

@mixin heart--full {
    height: 27px;
    width: 27px;
    background: linear-gradient(to top right, $color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 27px;
}

@mixin nouveau {
    padding: 5px 10px;
    border-radius: 3px;
    color: darken($color: $color-tertiary, $amount: 40);
    background-color: $color-tertiary;
}