@mixin box_shadow {
    box-shadow: 0px 3px 8px 3px lighten($color: black, $amount: 80);
}

@mixin btn {
    color: white;
    font-size: 17px;
    padding: 15px 25px;
    border-radius: 30px;
    border: 0px solid white;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    @include box_shadow;
}