@mixin box_shadow {
    box-shadow: 0px 4px 8px 2px lighten($color: black, $amount: 80);
}

@mixin box-shadow-hover {
    box-shadow: 0px 7px 8px 3px lighten($color: black, $amount: 80);
}

@mixin btn ($size){
    position: relative;
    font-size: $size;
    color: white;
    border-radius: $border-rad-btn;
    border: 0px solid white;
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    padding: 20px 25px;
    @include box_shadow;
    cursor: pointer;
    transition: box-shadow 300ms ease-in-out;
    margin-bottom: 20px;
    &:hover{
        @include box-shadow-hover;
        &::after{
            opacity: 0.15;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        background-color: white;
        z-index: 1;
        border-radius: $border-rad-btn;
        transition: opacity 200ms 100ms ease-in-out;
    }
}