$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-primary-hover: lighten($color: $color-primary, $amount: 10);
$color-secondary-hover: lighten($color: $color-secondary, $amount: 10);
$border-rad-btn: 30px;