.logo{
    width: 45%;
    padding: 20px 0px 10px 0px;
}

.btn{
    @include btn (17px);
}

.fonctionnement__etape{
    display: flex;
    box-shadow: 0px 4px 8px 1px lighten($color: black, $amount: 90);
    padding: 28px 20px;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    background-color: lighten($color: black, $amount: 96);
    transition: box-shadow 300ms ease-in-out;
    &::after{
        content: "";
        background-color: $color-primary;
        opacity: 0;
        z-index: 1;
        transition: opacity 200ms 100ms ease-in-out;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 20px;
    }
    &__number{
        position: absolute;
        color: white;
        left: -11px;
        padding: 3px 8px;
        background-color: $color-primary;
        border-radius: 20px;
        font-size: 15px;
    }
    & i{
        color: grey;
        font-size: 19px;
        position: absolute;
        left: 30px;
        top: 30px;
        transition: all 300ms ease-in-out;
    }
    &__description{
        margin: auto;
        font-size: 17px;
        font-weight: bold;
    }
    &:hover{
        cursor: pointer;
        box-shadow: 0px 8px 8px 1px lighten($color: black, $amount: 90);
        &::after{
            opacity: 0.1;
        }
        & i{
            color: $color-primary;
        }
    }
}

.restaurant{
    &__card{
        width: 100%;
        border-radius: $border-rad-btn;
        overflow: hidden;
        height: 280px;
        @include box-shadow;
        margin-bottom: 20px;
        transition: box-shadow 300ms ease-in-out;
        &:nth-child(3){
            & .restaurant__card__image{
                align-items: center;
            }
        }
        &:hover{
            @include box-shadow-hover;
            color: $color-primary;
        }
        &__link{
            text-decoration: none;
            color: black;
            transition: color 300ms ease-in-out;
            &:hover{
                @include box-shadow-hover;
                color: $color-primary;
            }
        }
        &__image{
            display: flex;
            justify-content: center;
            align-items:flex-end;
            position: relative;
            height: 200px;
            overflow: hidden;
            & img{
                width: 100%;
            }
            & p{
                position: absolute;
                color: darken($color: $color-tertiary, $amount: 40);
                background-color: $color-tertiary;
                top: 15px;
                right: 15px;
                padding: 5px 10px;
                border-radius: 3px;
            }
        }
        &__body{
            height: 80px;
            position: relative;
            & .heart{
                position: absolute;
                right: 30px;
                top: 13px;
                font-size: 25px;
                opacity: 1;
                z-index: 1;
                height: 25px;
                &:hover{
                    display: none;
                    z-index: 0;
                }
                &--full{
                    background: linear-gradient(to top right, $color-secondary, $color-primary);
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 25px;
                    position: absolute;
                    right: 29px;
                    top: 13px;
                    opacity: 0;
                    transition: opacity 200ms;
                    height: 28px;
                    width: 27px;
                    &:hover{
                        opacity: 1;
                        z-index: 1;
                    }
                }
            }
            &__title{
                margin-left: 20px;
                margin-top: 15px;
                font-weight: bold;
                font-size: 20px;
            }
            & p{
                margin-left: 20px;
                margin-top: 3px;
                font-size: 18px;
                font-family: roboto-light;
            }
        }
    }
}

.carte__plat{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    @include box-shadow;
    border-radius: 10px;
    color: black;
    background-color: white;
    margin-bottom: 15px;
    transition: all 300ms ease-in-out;
    animation: plat 400ms ease-in-out both;
    @for $i from 1 through 4 {
        &--#{$i} {
            animation-delay: 250ms + 200ms * $i;
        }
    }
    &__div{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        white-space: nowrap;
        transition: width 300ms ease-in-out;
        padding: 10px 0px 10px 10px;
    }
    &__title{
        font-size: 17px;
        margin-bottom: 2px;
        width: 100%;
    }
    &__description{
        width: 100%;
        font-family: roboto-light;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 90%;
    }
    &__price{
        text-align: right;
        width: 10%;
    }
    &__check{
        padding: 18px 10px;
        color: white;
        background-color: $color-tertiary;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 3px;
        transform: translateX(100%);
        width: 0px;
        transition: width 300ms ease-in-out;
    }
    &:hover{
        @include box-shadow-hover;
        cursor: pointer;
        color: $color-primary;
        & .carte__plat__check{
            animation: check 300ms both;
            width: 15%;
            & i{
                animation: spin 400ms both;
            }
        }
        & .carte__plat__div{
            width: 85%;
        }
    }
}

