header{
    position: relative;
    & a{
        position: absolute;
        left: 15px;
        font-size: 20px;
        color: black;
        @media (min-width:768px) {
            font-size: 35px;
            left: 30px;
        }
    }
}